  
<section class="vh-120">
    <div class="container py-5 h-30">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-10 col-xl-7">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-6 text-center">
              <br>
              <h3 ><b>Reset Password</b></h3>
              <p class="mb-5">To start using the app</p>
              <br>
              <div>
                <form [formGroup]="resetForm" class="form-outline mb-4">
                  <div class="row">
                    <div class="form-group d-flex flex-row align-items-center mb-4 ml-5 col">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline">
                        <input type="email" style="margin-left: 5px;" formControlName="email" class="form-control" placeholder="Enter email">
                        <!-- Validation of Email Field -->
                        <div class="alert alert-danger" *ngIf="submitted && f.email.errors && f.email.errors.required">Email is required</div>
                        <div class="alert alert-danger" *ngIf="submitted && f.email.errors && f.email.errors.email">Enter a valid email address, e.g., john@example.com</div>
                      </div>
                    </div>
                  </div>
      
                  <div class="row">
                    <div class="form-group d-flex flex-row align-items-center mb-4 ml-5 col">
                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline">
                        <input type="password" style="margin-left: 5px;" formControlName="password" class="form-control" placeholder="Password">
                        <!-- Validation of Password Field -->
                        <div class="alert alert-danger" *ngIf="submitted && f.password.errors && f.password.errors.required">Password is required</div>
                        <div class="alert alert-danger" *ngIf="submitted && f.password.errors && f.password.errors.minlength">Password must be at least 6 characters</div>
                      </div>
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="form-group d-flex flex-row align-items-center mb-4 ml-5 col">
                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline">
                        <input type="password" style="margin-left: 5px;" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password">
                        <!-- Validation of Confirm Password Field -->
                        <div class="alert alert-danger" *ngIf="submitted && f.confirmPassword.errors && f.confirmPassword.errors.required">Confirm Password is required</div>
                        <div class="alert alert-danger" *ngIf="submitted && f.confirmPassword.errors && f.confirmPassword.errors.mustMatch">Passwords do not match</div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <hr class="my-4">
                  <button type="submit" (click)=onSubmit() class="btn btn-dark btn-lg btn-block">Save</button>
    
                  <hr class="my-4">
                  <button (click)=goBack() class="btn btn-dark btn-lg btn-block">Go Back To Login</button>
                  <br>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>