<section class="vh-100">
  <div class="container py-4 h-20">
    <div class="row ">
      <div class="col-md-3">
          <button (click)="goToCreateMoment()" class="btn btn-dark btn-lg btn-block bground"><i class="fa fa-plus" aria-hidden="true"></i> Create Moment</button>
      </div>
      <div class="col-md-9">
           <!-- No data message -->
           <p *ngIf="momentList.length <= 0" class="no-data text-center">There is no moment added yet!</p>
        
           <!-- Employee list -->
           <table class="table table-bordered" *ngIf="momentList.length > 0">
             <thead class="text-center bground text-white">
               <tr>
                 <th scope="col">Sr.No</th>
                 <th scope="col">Image</th>
                 <th scope="col">Title</th>
                 <th scope="col">Tag</th>
                 <th scope="col">Action</th>
               </tr>
             </thead>
             <tbody>
               <tr *ngFor="let moment of momentList; let i = index" class="text-center">
                 <th scope="row">{{i + 1}}</th>
                 <td><img [src]="moment.image" [alt]="moment.image" width="100"/></td>
                 <td>{{moment.title}}</td>
                 <td>{{moment.tag}}</td>
                 <td class="text-center edit-block">
                   <span class="edit">
                     <button class="btn btn-white btn-md p-2" [routerLink]="['/UpdateMoment',moment._id]" title="Edit Item"><i class="fas fa-pen fa-sm"></i></button>
                   </span>
                   <span>
                     <button class="btn btn-white btn-md p-2" title="Remove Item" (click)="removeMoment(moment, i)"><i class="fas fa-trash fa-sm"></i></button>
                   </span>
                 </td>
               </tr>
             </tbody>
           </table>
         </div>
      </div>
    </div>
         
</section>