
<section class="vh-120">
    <div class="container py-5 h-20">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-10 col-xl-7">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-4 text-center">
  
            <h3 ><b>Sign in</b></h3>
            <p class="mb-5">To start using the app</p>
            <form [formGroup]="loginForm" class="form-outline mb-4">
              <div class="row">
                <div class="form-group d-flex flex-row align-items-center mb-4 ml-5 col">
                  <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                  <div class="form-outline">
                    <input type="email" style="margin-left: 5px;" formControlName="email" class="form-control" placeholder="Enter email">
                    <!-- Validation of Email Field -->
                    <div class="alert alert-danger" *ngIf="submitted && f.email.errors && f.email.errors.required">Email is required</div>
                    <div class="alert alert-danger" *ngIf="submitted && f.email.errors && f.email.errors.email">Enter a valid email address, e.g., john@example.com</div>
                  </div>
                </div>
              </div>
  
              <div class="row">
                <div class="form-group d-flex flex-row align-items-center mb-4 ml-5 col">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                  <div class="form-outline">
                    <input type="password" style="margin-left: 5px;" formControlName="password" class="form-control" placeholder="Password">
                    <!-- Validation of Password Field -->
                    <div class="alert alert-danger" *ngIf="submitted && f.password.errors && f.password.errors.required">Password is required</div>
                    <div class="alert alert-danger" *ngIf="submitted && f.password.errors && f.password.errors.minlength">Password must be at least 6 characters</div>
                  </div>
                </div>
              </div>

              <hr class="my-4">
              <button type="submit" (click)=onSubmit() class="btn btn-dark btn-lg btn-block">Sign In</button>

              <hr class="my-4">
              <label>Forgot Password? </label> 
              <button (click)=forgotPassword() class="btn btn-dark btn-lg btn-block">Reset Password</button>

              <hr class="my-4">
              <label>Not a member? </label> 
              <button (click)=register() class="btn btn-dark btn-lg btn-block" >Sign Up</button>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>