
  <h2>
    Web Development using Angular
  </h2>
  <h2>
    Variable inside Interpolation : {{Technology}}
  </h2>
  <h2>
    Expression result is : {{3+3}}
  </h2>
  <h2>
    String literal inside Interpolation : {{"Server side "+Technology}}
  </h2>
  <h2>
    String inbuilt property in Interpolation string.length : {{Technology.length}}
  </h2>
  <h2>
    String inbuilt method in Interpolation string.toUpperCase : {{Technology.toUpperCase()}}
  </h2>
  <h2>
    Function call in Interpolation returns : {{fun()}}
  </h2>